<div class="control-panel">
  <div class="heading">New shortcut</div>
  <div class="center-align">
    <a href="/control_panel/shortcuts/link/new" class="btn"><%= fa 'link', "Link to URL" %></a>
    <a href="/control_panel/shortcuts/engines_app/new" class="btn"><%= fa 'share', "Engines app" %></a><br><br>
    <a href="/control_panel/shortcuts" class="btn"><%= fa 'times', "Cancel" %></a>

  </div>
</div>
