<div class="navbar">
  <% if request.path_info != '/sign_in' %>
    <% if current_user %>
    <div class="pull-left">
      <a href="/user/portal"
      class="nav-link <%= 'active' if request.path_info == '/user/portal' %>">
        <%= current_user.user_name %></a>
    </div>
    <div class="pull-right">
      <a href="/user/password/edit"
      class="nav-link <%= 'active' if request.path_info == '/user/password/edit' %>">
        Password</a>
      <a href="/sign_out" class="nav-link">Sign out</a>
    </div>
    <% else %>
    <div class="pull-right">
      <a href="/sign_in" class="nav-link">Sign in</a>
    </div>
    <% end %>
  <% end %>
</div>
