<form method="post" class="sign_in_form">
  <p><div class="message"><%= flash_message %></div></p>
  <p><input name="sign_in[uid]" placeholder="Username"></input></p>
  <p><input name="sign_in[password]" type="password" placeholder="Password"></input></p>
  <p class="center-align">
    <button type="submit" class="btn">Sign in</button>
  </p>
</form>
