<div class="portal">
  <div class="shortcut">
    <a href="https://www.theguardian.com/au" target="https://www.theguardian.com/au">
      <img src="/v0/assets/images/theguardian.png"></img>
      <p>News</p>
    </a>
  </div>
  <div class="shortcut">
    <a href="http://www.bom.gov.au/nsw/forecasts/sydney.shtml" target="http://www.bom.gov.au/nsw/forecasts/sydney.shtml">
      <img src="/v0/assets/images/weather.png"></img>
      <p>Weather</p>
    </a>
  </div>
</div>
