<div class="portal">
  <div class="shortcut">
    <a href="https://owncloud.floss.network/" target="https://owncloud.floss.network/">
      <img src="/v0/assets/images/owncloud.png"></img>
      <p>Owncloud</p>
    </a>
  </div>
  <div class="shortcut">
    <a href="https://roundcube.floss.network/" target="https://roundcube.floss.network/">
      <img src="/v0/assets/images/roundcube.png"></img>
      <p>Roundcube</p>
    </a>
  </div>
</div>
