body {
  /*background-color: lightblue;*/
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  line-height: 1.42857143;
  color: #333;
}

.portal {
    text-align: center;
}

div.shortcut {
  cursor: pointer;
  display: inline-block;
  text-align: center;
  width: 150px;
  height: 150px;
  padding: 10px;
}

div.shortcut a {
  text-decoration: none;
  outline: 0;
}

div.shortcut:hover {
  border: 3px solid #ccc;
  padding: 7px;
}

div.shortcut img {
  height: 96px;
  width: 96px;
}

div.shortcut p {
  font-size: 24px;
  color: #333;
  margin: 0px;
}

* {
  border-radius: 0 !important
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.navbar {
  overflow: auto;
  color: #666;
  margin-bottom: 20px;
}

.navbar .nav-text {
  padding: 5px;
}

.navbar .nav-link {
  color: #666;
  padding: 4px;
  text-decoration: none;
  cursor: pointer;
  border-bottom: 1px solid #ccc;
  display: inline-block;
}

.navbar .nav-link.active {
  border-bottom: 3px solid #ccc;
}

.navbar .nav-link:hover {
  background-color: #eee;
}


input {
  box-sizing:border-box;
  width: 100%;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  padding: 6px 12px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
}

.btn {
  display: inline-block;
  font-family: inherit;
  font-size: 16px;
  text-decoration: none;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  padding: 6px 12px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  cursor: pointer;
}



.btn:hover, .btn:hover {
  background-color: #eee;
}

.btn::-moz-focus-inner {
  border: 0;
}

.btn-warning {
  color: red;
}

.btn-ok {
  color: green;
}

form {
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.center-align {
  text-align: center;
}

form.sign_in_form {
  margin-top: 10vh;
}

.message {
  margin-top: 12px;
  color: red;
  text-align: center;
}
