<div class="control-panel">
  <div class="heading">New account</div>
  <div class="center-align">
    <form
      method="POST"
      action="/control_panel/accounts"
      class="form">
      <div class="left-align">
        <p>
          <label class="label">Name</label><br>
          <input name="account[first_name]" placeholder="First" required></input><br>
          <input name="account[last_name]" placeholder="Last" required></input>
        </p>
        <p>
          <label class="label">Username</label><br>
          <input name="account[uid]" required></input>
        </p>
        <p>
          <label class="label">Password</label><br>
          <input name="account[password]" required autocomplete="off"></input><br>
        </p>
        <p>
      </div>
      <p>
        <a href="/control_panel/accounts" class="btn pull-left"><%= fa 'times', "Cancel" %></a>
        <button type="submit" class="btn pull-right"><%= fa 'check', "Create" %></button>
      </p>
    </form>
  </div>
</div>
