<div class="control-panel">
  <a href="/" class="btn pull-right"><%= fa 'times' %></i></a>
  <div class="heading">Control panel</div>
  <a href='control_panel/shortcuts' class="btn"><%= fa 'external-link', "Shortcuts" %></a><br>
  <!-- <a href='control_panel/accounts' class="btn"><%= fa 'users', "User accounts" %></a> -->
</div>
