<div class="control-panel">
  <a href="/" class="btn pull-right">Close</a>
  <div class="heading">Control panel</div>
  <a href='control_panel/shortcuts' class="btn">Shortcuts</a>
  <a href='control_panel/accounts' class="btn">User accounts</a>
</div>
