<div class="control-panel">
  <a href="/" class="btn pull-left">Done</a>
  <br>
  <div class="center-align">
    <h4>Control panel</h4>
    <a href='control_panel/shortcuts' class="btn">Shortcuts</a><br><br>

  </div>
</div>
