<div class="control-panel">
  <a href="/" class="btn pull-right">Close</a>
  <div class="heading">Control panel</div>
  <p>
    <a href='control_panel/shortcuts' class="btn">Shortcuts</a>
  </p>
</div>
