<div class="center-align">
  <h4>Upload shortcut icon</h4>
  <form method="POST" action="/control_panel/shortcuts/<%= @shortcut.id %>/icon"
    enctype="multipart/form-data" class="form">
    <div class="left-align">
      <label>Icon file</label><br>
      <input name="icon[file]" type="file"></input><br><br>
    </div>
    <a href="/control_panel/shortcuts/<%= @shortcut.id %>" class="btn pull-left">Cancel</a>
    <button type="submit" class="btn btn-ok pull-right">Upload</button>
  </form>
</div>
