<div class="control-panel">
  <div class="center-align">
    <h4><%= @shortcut.label %> icon from system</h4>

  <%= system.apps %>

    <a href="/control_panel/shortcuts/<%= @shortcut.id %>/icon">Done</a>
  </div>
</div>
