<div class="center-align">
  <form method="POST" action="/user/password" class="form">
    <label>Current password</label><br>
    <input value="<%= current_user.user_name %>" style="display: none;"></input>
    <input name="current_password" type="password"></input><br><br>
    <label>New password</label><br>
    <input name="new_password" type="password"></input><br>
    <input name="new_password_confirmation" type="password" placeholder="confirm new password"></input><br><br>
    <a href="/user/portal" class="btn pull-left"><%= fa 'times', "Cancel" %></a>
    <button type="submit" class="btn pull-right"><%= fa "check", "Update" %></button>
  </form>
</div>
