<div class="portal">
  <% @shortcuts.each do |shortcut| %>
    <div class="shortcut">
      <a href="<%= shortcut.url %>" target="<%= shortcut.url %>">
        <img src="<%= shortcut.icon_url + '?' + 'nocache=' + shortcut.icon_updated_at? %>"></img>
        <p><%= shortcut.label %></p>
      </a>
    </div>
  <% end %>
</div>
